Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#loading the dataset to a pandas df
credit_card_data=pd.read_csv('/content/creditcard.csv')

In [4]:
#first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [6]:
#last 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
85254,60679,1.258467,0.407363,0.160962,1.034153,0.175374,-0.344634,0.227623,-0.227186,-0.203630,...,-0.081358,-0.162500,-0.154661,-0.429501,0.697308,-0.377775,0.027767,0.023488,20.00,0.0
85255,60680,1.170321,-0.791258,0.341092,-0.498724,-1.234283,-1.024154,-0.282613,-0.248967,-0.867952,...,-0.577634,-1.495287,0.148887,0.380317,-0.089069,0.725803,-0.077233,0.033769,120.99,0.0
85256,60681,0.826449,-0.246364,-0.220287,1.144915,0.119542,0.013537,0.454082,-0.030595,-0.481902,...,0.142593,0.029994,-0.281769,-0.287336,0.598513,-0.330393,-0.020391,0.033028,192.00,0.0
85257,60682,1.201303,-0.309688,-0.314367,0.167426,1.540306,4.059730,-1.136824,1.090075,0.760974,...,-0.113604,-0.280918,-0.043147,1.001217,0.572592,-0.393931,0.074081,0.032089,12.99,0.0
85258,60684,-1.035410,1.278230,1.652904,0.574609,-0.222304,0.410386,-0.100852,0.859145,-0.699598,...,-0.104574,-0.408998,-0.128501,-0.383566,0.099796,-0.432130,NaN,NaN,NaN,NaN

In [8]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85259 entries, 0 to 85258
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    85259 non-null  int64
 1   V1      85259 non-null  float64
 2   V2      85259 non-null  float64
 3   V3      85259 non-null  float64
 4   V4      85259 non-null  float64
 5   V5      85259 non-null  float64
 6   V6      85259 non-null  float64
 7   V7      85259 non-null  float64
 8   V8      85259 non-null  float64
 9   V9      85259 non-null  float64
 10  V10     85259 non-null  float64
 11  V11     85259 non-null  float64
 12  V12     85259 non-null  float64
 13  V13     85259 non-null  float64
 14  V14     85259 non-null  float64
 15  V15     85259 non-null  float64
 16  V16     85259 non-null  float64
 17  V17     85259 non-null  float64
 18  V18     85259 non-null  float64
 19  V19     85259 non-null  float64
 20  V20     85259 non-null  float64
 21  V21     85259 non-null  float64
 22  V22     85259 non-null  float64
 23  V23     85259 non-null  float64
 24  V24     85259 non-null  float64
 25  V25     85259 non-null  float64
 26  V26     85259 non-null  float64
 27  V27     85258 non-null  float64
 28  V28     85258 non-null  float64
 29  Amount  85258 non-null  float64
 30  Class   85258 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 20.2 MB

In [10]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [12]:
#distribution of legit transaction and fraudulent transaction
credit_card_data['Class'].value_counts()

0.0    85054
1.0      204
Name: Class, dtype: int64

This dataset is highly unbalanced

0.0-->normal transaction
1.0-->fraudulent transaction

In [14]:
#seperating the data for analysis
legit=credit_card_data[credit_card_data.Class==0.0]
fraud=credit_card_data[credit_card_data.Class==1.0]

In [16]:
print(legit.shape)
print(fraud.shape)

(85054, 31)
(204, 31)

In [18]:
#statistical measures of the data
legit.Amount.describe()

count    85054.000000
mean        98.365392
std        268.470093
min          0.000000
25%          7.690000
50%         27.000000
75%         89.800000
max      19656.530000
Name: Amount, dtype: float64

In [20]:
fraud.Amount.describe()

count     204.000000
mean      101.986814
std       229.008970
min         0.000000
25%         1.000000
50%         7.550000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [22]:
#compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,38709.224046,-0.247847,-0.049900,0.70098,0.151762,-0.267214,0.099795,-0.095774,0.047207,-0.013915,...,0.041531,-0.031152,-0.105502,-0.037276,0.009236,0.133378,0.026126,0.000087,0.001840,98.365392
1.0,34136.960784,-6.403734,4.412429,-8.46741,5.101621,-4.614515,-1.964040,-6.731357,2.942715,-3.057064,...,0.391757,0.754409,-0.150411,-0.240026,-0.093307,0.225443,0.088375,0.569295,0.040876,101.986814

Under-Sampling...
Build a sample dataset containing similar distribution of normal transactions and fraudulent transactions.
Number of fraudulent transactions-204

In [24]:
legit_sample=legit.sample(n=204)

Concatenating two dataframes

In [27]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [30]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
53667,46093,0.818804,-1.140302,0.781427,-0.684917,-1.437188,-0.119068,-0.692549,0.322007,1.859857,...,0.174781,0.269856,-0.123259,0.201772,0.240498,-0.683984,0.062705,0.048849,169.00,0.0
27039,34361,-0.593960,0.592840,1.277225,0.231253,0.632702,-1.204909,0.755702,-0.158080,-0.511552,...,0.157736,0.312427,-0.114221,0.392238,0.219911,-0.506029,0.025432,0.050280,18.95,0.0
40239,40149,1.171740,-1.294774,0.877108,-0.593260,-1.736401,-0.019444,-1.340516,0.316577,0.088287,...,0.355987,0.736106,-0.197363,-0.011106,0.343766,-0.043084,0.010959,0.020785,95.00,0.0
15159,26511,1.512542,-1.202647,0.919745,-1.315583,-1.601227,0.145580,-1.485717,-0.005289,-1.191776,...,-0.281074,-0.161963,-0.054500,-0.428254,0.408056,-0.147742,0.087454,0.027080,13.00,0.0
76661,56682,-1.831067,-2.047022,2.022725,0.215532,1.495721,-1.582127,-1.411935,-0.634774,-0.834402,...,-0.559810,-0.109347,-1.017108,0.226311,-0.133049,1.393553,-0.089198,-0.622101,35.68,0.0

In [32]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
82400,59385,-7.626924,-6.976420,-2.077911,3.416754,4.458758,-5.080408,-6.578948,1.760341,-0.599509,...,1.224795,-0.656639,-0.330811,-0.078946,0.270306,0.431119,0.821381,-1.056088,18.98,1.0
83053,59669,0.326007,1.286638,-2.007181,2.419675,-1.532902,-1.432803,-2.459530,0.617738,-1.125861,...,0.556895,0.169776,-0.174357,0.308061,0.710996,-0.231030,0.580495,0.300984,6.27,1.0
83297,59777,-8.257111,-4.814461,-5.365307,1.204230,-3.347420,-1.331601,-1.967893,1.295438,-1.674415,...,0.436390,-0.077553,-3.091624,-0.390201,-0.288689,-0.340004,0.039819,-1.007900,319.20,1.0
83417,59840,-3.215382,-0.364223,-1.261883,3.794949,0.711206,-1.316476,-5.165141,0.625278,-1.582301,...,0.401341,0.152191,-0.934675,-0.256148,-0.469403,-0.282496,0.866077,-0.433466,5.91,1.0
84543,60353,-3.975216,0.581573,-1.880372,4.319241,-3.024330,1.240793,-1.909559,0.660718,-2.752611,...,0.578984,1.397311,1.045322,-0.304000,0.005295,0.235435,0.962015,-0.673557,454.82,1.0

In [34]:
new_dataset['Class'].value_counts()

0.0    204
1.0    204
Name: Class, dtype: int64

In [36]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,38816.058824,-0.244801,0.072141,0.814915,0.217155,-0.275870,0.054126,-0.181171,0.065046,-0.049350,...,-0.017671,-0.053942,-0.069391,-0.062995,-0.013485,0.136951,0.017566,-0.007580,-0.010247,64.508333
1.0,34136.960784,-6.403734,4.412429,-8.467410,5.101621,-4.614515,-1.964040,-6.731357,2.942715,-3.057064,...,0.391757,0.754409,-0.150411,-0.240026,-0.093307,0.225443,0.088375,0.569295,0.040876,101.986814

Splitting the data into Features and Targets...




(Features are nothing ,but rows..and Targets are columns)

In [38]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [40]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
53667  46093  0.818804 -1.140302  0.781427 -0.684917 -1.437188 -0.119068
27039  34361 -0.593960  0.592840  1.277225  0.231253  0.632702 -1.204909
40239  40149  1.171740 -1.294774  0.877108 -0.593260 -1.736401 -0.019444
15159  26511  1.512542 -1.202647  0.919745 -1.315583 -1.601227  0.145580
76661  56682 -1.831067 -2.047022  2.022725  0.215532  1.495721 -1.582127
...      ...       ...       ...       ...       ...       ...       ...
82400  59385 -7.626924 -6.976420 -2.077911  3.416754  4.458758 -5.080408
83053  59669  0.326007  1.286638 -2.007181  2.419675 -1.532902 -1.432803
83297  59777 -8.257111 -4.814461 -5.365307  1.204230 -3.347420 -1.331601
83417  59840 -3.215382 -0.364223 -1.261883  3.794949  0.711206 -1.316476
84543  60353 -3.975216  0.581573 -1.880372  4.319241 -3.024330  1.240793

             V7        V8        V9  ...       V20       V21       V22  \
53667 -0.692549  0.322007  1.859857  ...  0.056074  0.174781  0.269856
27039  0.755702 -0.158080 -0.511552  ... -0.020044  0.157736  0.312427
40239 -1.340516  0.316577  0.088287  ...  0.086258  0.355987  0.736106
15159 -1.485717 -0.005289 -1.191776  ... -0.219398 -0.281074 -0.161963
76661 -1.411935 -0.634774 -0.834402  ... -0.819473 -0.559810 -0.109347
...         ...       ...       ...  ...       ...       ...       ...
82400 -6.578948  1.760341 -0.599509  ...  2.875260  1.224795 -0.656639
83053 -2.459530  0.617738 -1.125861  ...  0.222667  0.556895  0.169776
83297 -1.967893  1.295438 -1.674415  ... -1.233987  0.436390 -0.077553
83417 -5.165141  0.625278 -1.582301  ...  0.019626  0.401341  0.152191
84543 -1.909559  0.660718 -2.752611  ... -0.656511  0.578984  1.397311

            V23       V24       V25       V26       V27       V28  Amount
53667 -0.123259  0.201772  0.240498 -0.683984  0.062705  0.048849  169.00
27039 -0.114221  0.392238  0.219911 -0.506029  0.025432  0.050280   18.95
40239 -0.197363 -0.011106  0.343766 -0.043084  0.010959  0.020785   95.00
15159 -0.054500 -0.428254  0.408056 -0.147742  0.087454  0.027080   13.00
76661 -1.017108  0.226311 -0.133049  1.393553 -0.089198 -0.622101   35.68
...         ...       ...       ...       ...       ...       ...     ...
82400 -0.330811 -0.078946  0.270306  0.431119  0.821381 -1.056088   18.98
83053 -0.174357  0.308061  0.710996 -0.231030  0.580495  0.300984    6.27
83297 -3.091624 -0.390201 -0.288689 -0.340004  0.039819 -1.007900  319.20
83417 -0.934675 -0.256148 -0.469403 -0.282496  0.866077 -0.433466    5.91
84543  1.045322 -0.304000  0.005295  0.235435  0.962015 -0.673557  454.82

[408 rows x 30 columns]

In [41]:
print(Y)

53667    0.0
27039    0.0
40239    0.0
15159    0.0
76661    0.0
        ...
82400    1.0
83053    1.0
83297    1.0
83417    1.0
84543    1.0
Name: Class, Length: 408, dtype: float64

Split the data into training data and testing data

In [93]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [82]:
print(X.shape,X_train.shape,X_test.shape)

(408, 30) (285, 30) (123, 30)

Model Training

Logistic regression(it is used for binary classification problems)

In [105]:
model=LogisticRegression(max_iter=1000)

In [106]:
#training the logistic regression model with training data
model.fit(X_train,Y_train)

LogisticRegression(max_iter=1000)

Model evaluation.
(Accuracy score)

In [108]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [109]:
print('Accuracy on Training data:',training_data_accuracy)

Accuracy on Training data: 0.9877300613496932

In [111]:
#accuracy on test data
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [112]:
print('Accuracy score on Test data:',test_data_accuracy)

Accuracy score on Test data: 0.9634146341463414